<html>
	<head>
		<title>{{t}}</title>
		<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
	</head>
<body>
	<div class="header">
	<p class="header-line">{{h}}</p>
	<p class="header-line">General Property List</p>
	</div>
	<table style="margin-top:10px">
		<tr>
			<td style="vertical-align:top;">
					<table border="1">
						<tr>
							<th>Property</th>
							<th>Portfolio</th>
							<th></th>
						</tr>
						{% for generalPartner in generalPartners %}
						<tr>
							<td class="col-1-text">{{ generalPartner['property'] }}</td>
							<td>{{ generalPartner['portfolio'] }}</td>
							<td><a href="./show?_id={{generalPartner['_id']}}"><button type="submit"> View </button></a></td>
						</tr>
						{% endfor %}
					</table>			
			</td>
		</tr>
	</table>
</body>
</html>
